body {
  min-width: 520px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 100%;
  background-color: #333333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.bg-dark-grey {
  background-color: #333333;
}

.border-black {
  border-color: #222222 !important;
}

.btn:focus, .close:focus, .page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 20px;
  height: 20px;

  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;

  border: 3px solid #dddddd;
  border-top: 3px solid #000000;
  border-radius: 50%;
}

.loader-fbsdk {
  left: 50%;

  margin-left: -10px;
}

.overflow-auto {
  overflow: auto;
}

.popup-form {
  z-index: 1000000;

  margin-top: 150px;

  min-width: 450px;
  max-width: 450px;
}

.popup-form-seperator {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 0.1em;

  width: 100%;

  text-align: center;

  color: #aaaaaa;
  border-bottom: 1px solid #cccccc;
}

.text-link {
  text-decoration: none !important;
}

.text-violet {
  color: #707fc2;
}

.text-violet:hover {
  color: #43549d;
}

@media (max-width: 500px) {
  .popup-form {
    left: 5%;

    min-width: 90% !important;
    max-width: 90% !important;
  }
}

@media (max-height: 850px) {
  .popup-form {
    position: absolute !important;
  }
}