/*Extra small devices (portrait phones, less than 576px)*/
.quote-board-item {
  width: 100%;
  font-size: 1.4rem;
  background-color: #ffffff;
  color: #ffffff;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: bold;
  text-shadow: 2px 2px #333333;
  min-height: 324px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote-board {
  overflow: hidden;

  margin: 0 auto;
}
.quote-board-list {
  width: 100%;
  margin: 0 auto;
}
.quote-source {
  margin-top: 5%;
  float: right;
  font-size: 1.4rem;
}
.refresh-button {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  margin: 0;
}
.refresh-button:hover {
  cursor: pointer;
  color: #cccccc;
}
.background-0 {
  background-image: url('./images/bg-0.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-1 {
  background-image: url('./images/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-2 {
  background-image: url('./images/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-3 {
  background-image: url('./images/bg-3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-4 {
  background-image: url('./images/bg-4.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-5 {
  background-image: url('./images/bg-5.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-6 {
  background-image: url('./images/bg-6.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-7 {
  background-image: url('./images/bg-7.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-8 {
  background-image: url('./images/bg-8.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-9 {
  background-image: url('./images/bg-9.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .quote-board-item {
    font-size: 1.8rem;
  }
  .quote-source {
    font-size: 2.0rem;
  }
  .refresh-button {
    font-size: 1.5rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .quote-board-item {
    font-size: 2.0rem;
    min-height: 432px;
  }
  .quote-source {
    font-size: 2.2rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .quote-board-item {
    font-size: 3.0rem;
    min-height: 558px;
    text-shadow: 3px 3px #333333;
  }
  .quote-source {
    font-size: 2.6rem;
  }
  .refresh-button {
    font-size: 2.0rem;
    height: 45px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .quote-board-item {
    font-size: 3.5rem;
    min-height: 675px;
    text-shadow: 4px 4px #333333;
  }
  .quote-source {
    font-size: 3.0rem;
  }
}
