.search-bar {
  box-sizing: border-box;
  height: 30px;
  padding: 15px 0 45px;

  text-align: center;
  white-space: nowrap;

  border-bottom: 1px solid #000000;
  background-color: #365daa;
}

.search-bar-input {
  box-sizing: border-box;
  width: 80%;
  height: 30px;
  padding: 0 10px;

  vertical-align: top;

  border: 1px solid #bbbbbb;
  border-right: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 15px;
}

.search-bar-input:focus {
  outline: none;
}

.search-bar-icon-container {
  display: inline-block;

  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 4px 6px 4px 2px;

  vertical-align: top;

  border: 1px solid #bbbbbb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #efedfc;
}

.search-bar-icon {
  max-width: 100%;

  vertical-align: top;
}

@media (min-width: 576px) {
  .search-bar-input {
    width: 150px;
  }
}