.search-result-list {
  position: absolute;
  z-index: 100;

  width: 100%;
  padding: 0;

  list-style: none;

  color: #000000;
  background-color: #f4f4f4;
}

.search-result-list-item {
  font-size: 0.9rem;
  font-weight: bold;

  position: relative;

  width: 100%;
  padding: 5px 15px;

  color: #222222;
  border-bottom: 1px solid #777777;
}

.search-result-list-item:hover {
  cursor: pointer;

  background-color: #dddddd;
}

.search-result-list-warning {
  text-align: center;
}

.search-result-author-name {
  display: inline-block;

  width: 89%;
}

.search-result-add-button {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 20px;

  position: absolute;
  top: 50%;
  right: 5%;

  height: 20px;
  margin-top: -10px;

  color: #365daa;
}

.search-result-clear-button {
  line-height: 20px;

  box-sizing: border-box;
  height: 20px;
  padding: 0;

  text-align: center;
}

.search-result-clear-button img {
  display: inline-block;

  width: 12px;
}