/*Extra small devices (portrait phones, less than 576px)*/
.auth-bar {
  position: absolute;
  right: 0;

  margin-top: 10px;
}

.auth-link {
  font-size: 1.2rem;

  margin-right: 30px;

  color: #f4f4f4;
}

.auth-link:hover {
  cursor: pointer;
  text-decoration: none;

  color: #d2d2d2;
}

.empty-quote-board {
  position: relative;

  min-height: 100vh;
  padding-bottom: 950px;

  background-image: url('/images/bg-images/bg-0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.empty-quote-board p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.8rem;
  font-weight: bold;

  position: absolute;
  top: 35%;
  left: 50%;

  width: 250px;
  margin-left: -125px;

  text-align: center;

  color: #ffffff;
  border: 5px solid #ffffff;
}

.singular-quote-board {
  position: relative;

  min-height: 100vh;
  padding-bottom: 950px;

  background-image: url('/images/bg-images/bg-0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.singular-quote-board li {
  position: absolute;
  top: 20%;

  padding: 0 10%;
}

.quote {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3%;
}

.quote-board-item {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 324px;
  padding: 100px 5%;

  color: #ffffff;
  text-shadow: 2px 2px #333333;

  justify-content: center;
}
.quote-board {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.quote-source {
  font-size: 1.4rem;

  float: right;

  margin-top: 5%;
}
.change-button {
  display: inline-block;

  height: 30px;
  margin: 0;

  vertical-align: middle;
}
.change-button:hover {
  cursor: pointer;

  color: #cccccc;
}
.background-0 {
  background-image: url('/images/bg-images/bg-0.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-1 {
  background-image: url('/images/bg-images/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-2 {
  background-image: url('/images/bg-images/bg-2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-3 {
  background-image: url('/images/bg-images/bg-3.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-4 {
  background-image: url('/images/bg-images/bg-4.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-5 {
  background-image: url('/images/bg-images/bg-5.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-6 {
  background-image: url('/images/bg-images/bg-6.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-7 {
  background-image: url('/images/bg-images/bg-7.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-8 {
  background-image: url('/images/bg-images/bg-8.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-9 {
  background-image: url('/images/bg-images/bg-9.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .quote-board-item {
    font-size: 1.8rem;
  }
  .quote-source {
    font-size: 2.0rem;
  }
  .change-button {
    font-size: 1.5rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .quote-board-item {
    font-size: 2.0rem;

    min-height: 432px;
  }
  .quote-source {
    font-size: 2.2rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .quote-board-item {
    font-size: 3.0rem;

    min-height: 558px;

    text-shadow: 3px 3px #333333;
  }
  .quote-source {
    font-size: 2.6rem;
  }
  .change-button {
    font-size: 2.0rem;

    height: 45px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .quote-board-item {
    font-size: 3.5rem;

    min-height: 675px;

    text-shadow: 4px 4px #333333;
  }
  .quote-source {
    font-size: 3.0rem;
  }
}
