.quotivation-board {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: max-content;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  background-image: url('/images/bg-images/bg-0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.empty-quotivation-board {
  padding: 0 5%;
}

.quotivation-board-blurred {
  padding-bottom: 900px;

  background-image: url('/images/bg-images/bg-00.jpg') !important;
}

.no-sources-message {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.8rem;
  font-weight: bold;

  position: absolute;
  top: 50%;
  left: 50%;

  width: 250px;
  margin: -105.5px 0 0 -125px;

  text-align: center;

  color: #ffffff;
  border: 5px solid #ffffff;
}

.no-sources-message-hidden {
  display: none;
}

.singular-quotivation-board li {
  background: 0;
}

.assorted-quotivation-board li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.quotivation-board-item {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 1.4rem;
  font-weight: bold;

  display: flex;
  flex-direction: column;

  min-height: max-content;
  padding: 50px 5%;

  color: #f4f4f4;
  text-shadow: 2px 2px #333333;

  flex: 1;
  justify-content: center;
}

.quotivation-board-loader {
  position: absolute;
  top: 50%;
  right: 50%;

  margin-right: -21px;
  margin-left: -21px;
}

.quote {
  padding: 5%;

  background-color: rgba(0, 0, 0, 0.4);
}

.quote-trailer {
  display: inline-block;

  white-space: nowrap;
}

.quote-last-word {
  display: inline-block;
}

.quote-change-button {
  display: inline-block;

  vertical-align: middle;
}

.quote-change-button:hover {
  cursor: pointer;

  color: #c1c1c1;
}

.quote-source {
  font-size: 1.4rem;

  float: right;

  margin-top: 35px;
}

.bg-img-0 {
  background-image: url('/images/bg-images/bg-0.jpg');
}

.bg-img-1 {
  background-image: url('/images/bg-images/bg-1.jpg');
}

.bg-img-2 {
  background-image: url('/images/bg-images/bg-2.jpg');
}

.bg-img-3 {
  background-image: url('/images/bg-images/bg-3.jpg');
}

.bg-img-4 {
  background-image: url('/images/bg-images/bg-4.jpg');
}

.bg-img-5 {
  background-image: url('/images/bg-images/bg-5.jpg');
}

.bg-img-6 {
  background-image: url('/images/bg-images/bg-6.jpg');
}

.bg-img-7 {
  background-image: url('/images/bg-images/bg-7.jpg');
}

.bg-img-8 {
  background-image: url('/images/bg-images/bg-8.jpg');
}

.bg-img-9 {
  background-image: url('/images/bg-images/bg-9.jpg');
}

@media (min-width: 576px) {
  .quotivation-board-item {
    font-size: 1.8rem;

    padding: 75px 5%;
  }

  .quote-source {
    font-size: 2.0rem;
  }

  .change-button {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .quotivation-board-item {
    font-size: 2.0rem;
  }

  .quote-source {
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {
  .quotivation-board-item {
    font-size: 2.3rem;
  }

  .quote {
    padding: 3%;
  }

  .quote-source {
    font-size: 2.5rem;
  }
}

@media (min-width: 1600px) {
  .quotivation-board-item {
    font-size: 2.8rem;
  }

  .quote-source {
    font-size: 3.0rem;
  }
}