.following-list {
  margin: 0;
  padding: 20px 0;
  list-style: none;

  background-color: #222222;
}

.following-list li {
  width: 84%;
  margin: 0 auto;
}

.following-list li:last-child {
  margin-top: 15px;
  padding-top: 0 !important;
  padding-bottom: 0;

  border: 0;
}

.following-list-item {
  position: relative;

  box-sizing: border-box;
  padding: 15px 0;

  color: #888888;
  border-bottom: 1px solid #888888;
}

.following-list-title {
  box-sizing: border-box;
  padding: 10px 0;

  text-align: center;

  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.following-list-warning {
  text-align: center;
}

.following-list-author-name {
  width: 92%;
  padding-right: 5px;
}

.following-list-close-button {
  font-size: 1.3rem;
  line-height: 16px;

  position: absolute;
  top: 50%;
  right: 2%;

  margin-top: -8px;
}

.following-list-close-button:hover {
  cursor: pointer;

  color: #aaaaaa;
}