.header {
  position: relative;

  padding: 15px 0;

  color: #365daa;
  border-bottom: 2px solid #dddddd;
  background-color: #f4f4f4;
}

.header-logo {
  display: inline-block;

  box-sizing: border-box;
  margin: 0 10px;

  border: 1px solid #dddddd;
}

.header-title {
  display: inline-block;

  vertical-align: middle;
}

.header-title h5 {
  font-size: 1.5rem;
  font-weight: bold;

  margin: 0;
}

.header-info {
  font-size: 0.8rem;
  font-style: italic;

  position: absolute;
  bottom: 0;

  margin-bottom: -1px;
  margin-left: 10px;
}

.header-menu-button {
  position: absolute;
  top: 50%;
  right: 5%;

  margin-top: -15px;
}

.header-menu-button:hover {
  cursor: pointer;
}

.header-menu-button div {
  width: 30px;
  height: 6px;
  margin: 3px 0;

  border-radius: 5px;
  background-color: #365daa;
}

@media (min-width: 576px) {
  .header {
    padding: 10px 0;
  }

  .header-logo {
    margin-right: 5px;
  }

  .header-title h5 {
    font-size: 1.2rem;
  }

  .header-menu-button {
    display: none;
  }
}
